header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.5s ease-in-out;
  z-index: 1;
}

header > div {
  background-color: var(--theme-color);
  padding: calc(var(--gap) / 2) 0;
}

.app_title {
  display: flex;
  justify-content: center;
  max-height: 125px;
}
