.personal_infomation,
.profile-about,
.darkmode_switch-wrapper,
.profile-counts-wrapper,
.profile-counts {
  display: flex;
}

.personal_infomation {
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

@media screen and (min-width: 900px) {
  .personal_infomation {
    flex-direction: row;
  }
}

.profile-about {
  flex-direction: column;
  align-items: start;
  gap: calc(var(--gap) / 2);
  background-color: rgba(44, 85, 216, 0.1);
  padding: var(--gap);
  border-radius: 4px;
}

.profile-counts-wrapper {
  gap: var(--gap);
}

.profile-counts {
  border: var(--theme-color) 3px solid;
  padding: 2px 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap) / 3);
}

.darkmode_switch-wrapper {
  justify-content: start;
  align-items: center;
  gap: var(--gap);
}
